.calcContainer {
    margin: auto;
    width: 33.33%;
    height: 550px;
    border: 10px blue solid;
    padding: 0px;
    background-color: lightblue;
}

.screenContainer {
    margin: auto;
    width: 90%;
    height: 80px;
    border: 1px black solid;
    background-color: white;
    text-align: right;
    font-size: 70px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    width: 90%;
    height: 435px;
}

.cButton {
    padding: 20px;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}

.cButton:active {
    border: 2px solid yellow;
    margin: -1px;
}

.button {
    border: 1px solid black;
    padding: 20px;
    background-color: red;
    font-size: 30px;
    text-align: center;
}

.button:active {
    border: 2px solid yellow;
    margin: -1px;
}